*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollable-div h1.active, 
.scrollable-div h1:hover{
  font-size: 5rem;
  color:#ff4655!important;
}
.scrollable-div::-webkit-scrollbar {
    display: none;
  }

  .scrollable-div{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  

  .agent-name{
    cursor: pointer;
    transition: all .2s ease-in-out
}
.map-name{
    cursor: pointer;
    transition: all .2s ease-in-out
}

.description-text .card{
  transition: all .2s ease-in-out;
  cursor: pointer;
  box-shadow: 10px 10px 10px black;
}
.description-text .card:hover{
  box-shadow: 20px 20px 10px black;
  transform: translate(-10px, -10px);
}
